<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
        <key>Label</key>
                <string>net.openvpn.enable-vpn-forward-nat</string>
        <key>ProgramArguments</key>
                <array>
                        <string>/Library/Application Support/vpn/enable-vpn-forward-nat.sh</string>
                </array>
        <key>RunAtLoad</key>
                <true/>
</dict>
</plist>
